<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="My expenses">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Expenses</title>
<style>
	table,thead, tbody, th, td {
		border: 1px solid black;
	}

</style>
</head>
<body>
<section id="expenses" role="region">
<h3>My expenses</h3>
	<table style="width: 50%;" role="table">
		<caption>Expenses table</caption>
		<thead role="rowgroup">
			<tr role="row">
				<th role="columnheader"></th>
				<th role="columnheader">Electricity</th>
				<th role="columnheader">Gas</th>
				<th role="columnheader">Water</th>
			</tr>
		</thead>
		<tbody role="rowgroup">
			
			<tr role="row">
				<td role="cell">January</td>
				<td role="cell">$1000</td>
				<td role="cell">$600</td>
				<td role="cell">$500</td>
			</tr>
			<tr role="row">
				<td role="cell">February</td>
				<td role="cell">$900</td>
				<td role="cell">$650</td>
				<td role="cell">$520</td>
			</tr>
			<tr role="row">
				<td role="cell">March</td>
				<td role="cell">$1100</td>
				<td role="cell">$450</td>
				<td role="cell">$700</td>
			</tr>
			<tr role="row">
				<td role="cell" style="font-weight: bold">Total</td>
				<td role="cell">$3000</td>
				<td role="cell">$1700</td>
				<td role="cell">$1720</td>
			</tr>
		</tbody>
	</table>

</section>
	
</body>
</html>