<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="My expenses">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Expenses</title>
<style>
	table,thead, tbody, th, td {
		border: 1px solid black;
	}

</style>
</head>
<body>
<section id="expenses">
<h3>My expenses</h3>
	<table style="width: 50%;">
		<caption>Expenses table</caption>
		<thead>
			<tr>
				<th></th>
				<th>Electricity</th>
				<th>Gas</th>
				<th>Water</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>January</td>
				<td>$1000</td>
				<td>$600</td>
				<td>$500</td>
			</tr>
			<tr>
				<td>February</td>
				<td>$900</td>
				<td>$650</td>
				<td>$520</td>
			</tr>
			<tr>
				<td>March</td>
				<td>$1100</td>
				<td>$450</td>
				<td>$700</td>
			</tr>
			<tr>
				<td style="font-weight: bold">Total</td>
				<td>$3000</td>
				<td>$1700</td>
				<td>$1720</td>
			</tr>
		</tbody>
	</table>

</section>
	
</body>
</html>