<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="grid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/grid.css" type="text/css">
	<link rel="stylesheet" href="../css/normalize.css" type="text/css">
	<title>Document</title>
</head>
<body>

	<div class="container">
		<div class="row clearfix">
		<header class="header">

			<div class="column third">
				<h1>Showcase</h1>
			</div>
			<div class="column two-thirds">
				<p>Cultivated who resolution connection motionless did occasional. Journey promise if it colonel. Can all mirth abode nor hills added. Them men does for body pure. Far end not horses remain sister. Mr parish is to he answer roused piqued afford sussex. It abode words began enjoy years no do ﻿no. Tried spoil as heart visit blush or. Boy possible blessing sensible set but margaret interest. Off tears are day blind smile alone had.</p>
			</div>
		</header><!-- /header -->
		</div>
		<section>
			
		
		<div class="row clearfix">
			<div class="column third box">
				<img role="img" id="img-1" class="img" src="../images/itachi-vs-sasuke.jpg" alt="Sasuke vs Itachi">
				<div class="box-description"><label for="img-1">Sasuke vs Itachi</label></div>
			</div>
			<div class="column third box">
				<img role="img" class="img" src="../images/sasuke-vs-killerb.png" alt="Sasuke vs Killer b">
				<div class="box-description"><label for="img-2">Sasuke vs Killer b</label></div>
			</div>	
			<div class="column third box">
				<img role="img" class="img" src="../images/naruto-vs-sasuke.jpg" alt="Naruto vs Sasuke">
				<div class="box-description"><label for="img-3">Naruto vs Sasuke</label></div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="column third box">
				<img role="img" class="img" src="../images/gaara-vs-sasuke.png" alt="Gaara vs Sasuke">
				<div class="box-description"><label for="img-4">Gaara vs Sasuke</label></div>
			</div>
			<div class="column third box">
				<img role="img" class="img" src="../images/kakashi-vs-zabuza.jpg" alt="Kakashi vs Zabuza">
				<div class="box-description"><label for="img-4">Kakashi vs Zabuza</label></div>
			</div>	
			<div class="column third box">
				<img role="img" class="img" src="../images/kakashi-vs-kakuzu.jpg" alt="Kakashi vs Kakuzu">
				<div class="box-description"><label for="img-5">Kakashi vs Kakuzu</label></div>
			</div>
		</div>

		</section>
	</div>
</body>
</html>