<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="grid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/grid.css" type="text/css">
	<link rel="stylesheet" href="../css/normalize.css" type="text/css">
	<title>Document</title>
</head>
<body>

	<div class="container">
		<div class="row clearfix">
			<header class="header">

				<div class="column third">
					<h1>Showcase</h1>
				</div>
				<div class="column two-thirds">
					<p>Cultivated who resolution connection motionless did occasional. Journey promise if it colonel. Can all mirth abode nor hills added. Them men does for body pure. Far end not horses remain sister. Mr parish is to he answer roused piqued afford sussex. It abode words began enjoy years no do ﻿no. Tried spoil as heart visit blush or. Boy possible blessing sensible set but margaret interest. Off tears are day blind smile alone had.</p>
				</div>
			</header><!-- /header -->
		</div>
		<section>
			<div class="row clearfix">
				<div class="column">
					<div class="box">
						<div class="img-wrapper">
						<img role="img" class="img" src="../images/itachi-vs-sasuke.jpg" alt="Sasuke vs Itachi">
						</div>
						<div class="box-description">Sasuke vs Itachi</div>
					</div>
				
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/sasuke-vs-killerb.png" alt="Sasuke vs Killer b">
							</div>
							<div class="box-description">Sasuke vs Killer b</div>
					</div>	
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/gaara-vs-sasuke.png" alt="Gaara vs Sasuke">
							</div>
							<div class="box-description">Gaara vs Sasuke</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/gai-vs-kisame.jpg" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Gai vs Kisame</div>
					</div>
				</div>
				<div class="column">
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/madara-vs-hashirama.jpg" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Madara vs Hashirama</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/kakashi-vs-zabuza.jpg" alt="Kakashi vs Zabuza">
							</div>
							<div class="box-description">Kakashi vs Zabuza</div>
					</div>	
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/kakashi-vs-kakuzu.jpg" alt="Kakashi vs Kakuzu">
							</div>
							<div class="box-description">>Kakashi vs Kakuzu</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/neji-vs-naruto.png" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Neji vs Naruto</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/naruto-vs-sasuke.jpg" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Naruto vs Sasuke</div>
					</div>
				</div>

				<div class="column">
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/jiraiya-vs-pain.jpg" alt="Kakashi vs Zabuza">
							</div>
							<div class="box-description">Jiraiya vs Pain</div>
					</div>	
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/sakura-and-chiyo-vs-sasori.jpg" alt="Kakashi vs Kakuzu">
							</div>
							<div class="box-description">Sakura and Chiyo vs Sasori</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/rock-lee-vs-gaara.jpg" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Rock Lee vs Gaara</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/sasuke-vs-deidara.jpg" alt="Naruto vs Sasuke">
							</div>
							<div class="box-description">Sasuke vs Deidara</div>
					</div>
				</div>
				<div class="column">
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/nagato-vs-naruto-and-killer-b.jpg" alt="Nagato vs Naruto and Killer B">
							</div>
							<div class="box-description">Nagato vs Naruto and Killer B</div>
					</div>	
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/itachi-vs-orochimaru.png" alt="Itachi vs Orochimaru">
							</div>
							<div class="box-description">Itachi vs Orochimaru</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/sasuke-vs-danzo.jpg" alt="Sasuke vs Danzo">
							</div>
							<div class="box-description">Sasuke vs Danzo</div>
					</div>
					<div class="box">
							<div class="img-wrapper">
								<img role="img" class="img" src="../images/hinata-vs-neji.jpg" alt="Hinata vs Neji">
							</div>
							<div class="box-description">Hinata vs Neji</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>