<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Multimedia">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Multimedia</title>
</head>
<body style="text-align: center;">
	
	<section role="region">
		<header class="header" role="presentation">
			<h3 role="presentation">Kakashi vs Pain</h3>
		</header>
 <img role="img" src="../images/kakashi-vs-pain.jpg" alt="Kakashi vs Pain" style="width:60%">

		
	</section>

	<section role="region">
		<header class="header" role="presentation">
			<h3 role="presentation">Lucas Alario´s goal vs Tigers is better with the Titanic music</h3>
		</header>
		<video role="application" src="../videos/alario.mp4" loop controls poster="../images/alario-video-poster.jpg" style="width:80%"></video>
	</section>

	<section role="region">
		<header class="header" role="presentation">
			<h3 role="presentation">Millencolin - No Cigar</h3>
		</header>
		<audio role="application" controls>
		  <source src="../audios/no-cigar.mp3" type="audio/mpeg">
		</audio>
	</section>

</body>
</html>