<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multimedia</title>
</head>
<body style="text-align: center;">
	
	<section>
		<header id="header">
			<h3>Kakashi vs Pain</h3>
		</header>
		<img src="../images/kakashi-vs-pain.jpg" alt="Kakashi vs Pain" height="420" width="720">
	</section>

	<section >
		<header>
			<h3>Lucas Alario´s goal vs Tigers is better with the Titanic music</h3>
		</header>
		<video src="../videos/alario.mp4" autobuffer autoloop loop controls poster="../images/alario-video-poster.jpg"></video>
	</section>

	<section>
		<header id="header">
			<h3>Millencolin - No Cigar</h3>
		</header>
		<audio src="../audios/no-cigar.mp3" autobuffer autoloop loop controls></audio>
	</section>

</body>
</html>