<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Sing up">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sing Up</title>

	<style>
	
	div{
		margin-top: 20px;
		}
	</style>
	

</head>
<body>

	<section role="region">
		<header id="header" role="presentation">
			<h3>Sing Up</h3>
		</header>
		<form action="#" method="post" accept-charset="utf-8" role="none">
		
		<div>
			<label for="first_name">First name:</label>
			<input type="text" id="first_name" name="first_name" value="" placeholder="First name" role="textbox" required="">
		</div>
		<div>
			<label for="last_name">Last name:</label>
			<input type="text" id="last_name" name="last_name" value="" placeholder="Last name" role="textbox" required="">
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" value="" placeholder="Email" role="textbox" required="">
		</div>
		<div>
			<label for="birthday">Birthday:</label>
			<input type="date" id="birthday" name="birthday" value="" required="">
		</div>
		<div>
			<label for="sport">Favourite Sport:</label>
		<select id="sport" name="sport" required="" role="combobox">
			<option value="">Choose a sport</option>
			<option value="football">Football</option>
			<option value="tennis">Tennis</option>
			<option value="basketball">Basketball</option>
			<option value="hockey">Hockey</option>
			<option value="voleyball">Voleyball</option>
		</select>
		</div>
		<div>
			<label for="bio">Small bio:</label> 
			<div>
			<textarea id="bio" name="bio" required="" rows="10" cols="70" maxlength="500" placeholder="Write your bio!" role="textbox"></textarea>
		</div>
		</div>
		<div>
			<input type="submit" id="btn_submit" name="btn_submit" value="Sing Up" role="button">
			<input type="reset" id="btn_reset" name="btn_reset" value="Clear" role="button">
		</div>
		</form>
	
	</section>
	
</body>
</html>