<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="My todo list">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My todo list</title>
</head>
<body>
<section  role="region">
	<header id="header" role="presentation">
	<h1 role="presentation">My todo list</h1>
	</header>
	<ul role="presentation">
		<li role="presentation">Have breakfast</li>
		<li role="presentation">Go to university</li>
		<li role="presentation">Give tennis lessons</li>
		<li role="presentation">Study</li>

	</ul>
</section>

</body>
</html>