.MovieForm {
   font-size: 20px;
   padding-top: 20px;
   text-align: center;
}

.input-duration {
   width: 9rem;
   margin-left: 0.5rem;
}

.input-name {
   width: 9rem;
   margin-left: 2rem;
}

.input-year {
   width: 9rem;
   margin-left: 3rem;
}

