*{
	
 margin-right: auto;
 margin-left: auto;
}



div#container{
		box-sizing: border-box; 
	
		height: 900px;
		width: 90%;
		overflow: hidden;
		min-width: 879px;
}

.sidebar{
	float: right;
	font-size: 10px;

	height: 70%;
	width: 17%;
	margin-left: 20px;
}

.navigation{
	float: left;
	margin-bottom:20px;
	font-size: 12px;
	margin-right:  20px;
	height: 70%;
	width: 17%;
}

.navigation a{
	color: white;
}

.header{
	
	text-align: center;
	font-size: 46px;
	width: 100%;
	
}

.clear{
	clear: both;
}


.footer{
	margin-top: 20px;
	font-size: 10px;
	text-align: center;
	width: 100%;
	
}


.footer:not(#section-footer){
	height: 150px;
}

.content{

	margin-left: 17.5%;
	text-align: center;
	position: relative;
	display: block;
	font-size: 14px;
	width: 65%;
	height: 70%;

	

}

.content article{
	position: absolute;
	margin-top: 80px;
	word-wrap: break-word;

}

.content .footer{
	position: absolute;
	
	bottom: 0;
	width: 100%;

}

.content .header{
	position: absolute;
	height: 60px;
	width: 100%;

}

.content .header h4{
	position: absolute;
	top:0;
	left: 0;
}






[class$="r"]{
	background-color: magenta;
}

[class*="a"]:not([class$="r"]){
	background-color: blue;
}

